{% extends "plantilla/base.html" %}

{% block titulo %} Inicio {% endblock %}


{% block contenido %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Inicio </h1>
        <p>ipsum dolor sit amet consectetur adipisicing elit. Suscipit nihil nulla et sequi unde qui voluptas quasi sapiente
        at fugit distinctio, reprehenderit eum placeat consectetur enim sunt sint excepturi inventore.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum illum labore voluptatem? Quam quidem debitis, nulla
        voluptatibus nemo rerum illum repellendus vel, consectetur minus impedit perferendis alias voluptates minima? Cum?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ipsum, ab hic possimus quaerat tenetur eligendi sint sed
        cum doloremque mollitia deserunt obcaecati nostrum laudantium minus sit repudiandae perspiciatis porro?</p>

        <div class="text-center">
            <a class="btn btn-primary" href="/login/">
                Iniciar Sesion
            </a>
            <a class="btn btn-secondary" href="/signup/">
                Registrarse
            </a>
        </div>


    </section>

    

</main>

{% endblock %}